<div id="#carouselExampleIndicators" class="carousel slide  my-4" data-bs-ride="carousel">
     <div class="carousel-indicators">

          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class=""
               aria-label="Slide 0"></button>


          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 1"
               class="active" aria-current="true"></button>

          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
               aria-label="Slide 2"></button>

     </div>
     <div class="carousel-inner">
          <div class="carousel-item">

               <!-- CARDS -->
               <div class="container">
                    <div class="row">


                         <!-- CARDS -->

                         <div class="col-xs-3 col-sm-3 col-md-3">
                              <div class="card" style="width: 18rem;">
                                   <img src=" /media/shop/images/istockphoto-1059543698-170667a.jpg"
                                        class="card-img-top" alt="Image Alt Text">
                                   <div class="card-body">
                                        <h5 class="card-title">Pen</h5>
                                        <p class="card-text">this is pen</p>
                                        <a href="#" class="btn btn-primary">Go somewhere</a>
                                   </div>
                              </div>
                         </div>
                         <div class="col-xs-3 col-sm-3 col-md-3">
                              <div class="card" style="width: 18rem;">
                                   <img src="/media/shop/images/81XgkW-bRS._UX569_.jpg" class="card-img-top"
                                        alt="Image Alt Text">
                                   <div class="card-body">
                                        <h5 class="card-title">mask</h5>
                                        <p class="card-text">this is mask</p>
                                        <a href="#" class="btn btn-primary">Go somewhere</a>
                                   </div>
                              </div>
                         </div>
                         <div class="col-xs-3 col-sm-3 col-md-3">
                              <div class="card" style="width: 18rem;">
                                   <img src="/media/shop/images/gettyimages-173015527-612x612.jpg" class="card-img-top"
                                        alt="Image Alt Text">
                                   <div class="card-body">
                                        <h5 class="card-title">Book</h5>
                                        <p class="card-text">this is Book</p>
                                        <a href="#" class="btn btn-primary">Go somewhere</a>
                                   </div>
                              </div>
                         </div>
                         <div class="col-xs-3 col-sm-3 col-md-3">
                              <div class="card" style="width: 18rem;">
                                   <img src="/media/shop/images/81KoSSAwH2L._SL1500_.jpg" class="card-img-top"
                                        alt="Image Alt Text">
                                   <div class="card-body">
                                        <h5 class="card-title">Laptop</h5>
                                        <p class="card-text">this is laptop</p>
                                        <a href="#" class="btn btn-primary">Go somewhere</a>
                                   </div>
                              </div>
                         </div>
                    </div>
               </div>
          </div>

          <div class="carousel-item active">
               <div class="container">
                    <div class="row">


                         <div class="col-xs-3 col-sm-3 col-md-3">
                              <div class="card" style="width: 18rem;">
                                   <img src="/media/shop/images/akrales_181019_3014_0770.jpg" class="card-img-top"
                                        alt="Image Alt Text">
                                   <div class="card-body">
                                        <h5 class="card-title">Phone</h5>
                                        <p class="card-text">this is phone</p>
                                        <a href="#" class="btn btn-primary">Go somewhere</a>
                                   </div>
                              </div>
                         </div>





                         <div class="col-xs-3 col-sm-3 col-md-3">
                              <div class="card" style="width: 18rem;">
                                   <img src="/media/shop/images/istockphoto-144349803-612x612.jpg" class="card-img-top"
                                        alt="Image Alt Text">
                                   <div class="card-body">
                                        <h5 class="card-title">Cable</h5>
                                        <p class="card-text">this is cable</p>
                                        <a href="#" class="btn btn-primary">Go somewhere</a>
                                   </div>
                              </div>
                         </div>





                         <div class="col-xs-3 col-sm-3 col-md-3">
                              <div class="card" style="width: 18rem;">
                                   <img src="/media/shop/images/51jFMzu0t3L._SL1500_.jpg" class="card-img-top"
                                        alt="Image Alt Text">
                                   <div class="card-body">
                                        <h5 class="card-title">Charger</h5>
                                        <p class="card-text">this is Charger</p>
                                        <a href="#" class="btn btn-primary">Go somewhere</a>
                                   </div>
                              </div>
                         </div>





                         <div class="col-xs-3 col-sm-3 col-md-3">
                              <div class="card" style="width: 18rem;">
                                   <img src="/media/shop/images/40080581_2-cello-h2o-unbreakable-water-bottle-blue.jpg"
                                        class="card-img-top" alt="Image Alt Text">
                                   <div class="card-body">
                                        <h5 class="card-title">Bottle</h5>
                                        <p class="card-text">this is bottle</p>
                                        <a href="#" class="btn btn-primary">Go somewhere</a>
                                   </div>
                              </div>
                         </div>


                    </div>
               </div>
          </div>
          <div class="carousel-item">
               <div class="container">
                    <div class="row">





                         <div class="col-xs-3 col-sm-3 col-md-3">
                              <div class="card" style="width: 18rem;">
                                   <img src="/media/shop/images/5s-1.jpg" class="card-img-top" alt="Image Alt Text">
                                   <div class="card-body">
                                        <h5 class="card-title">Ac</h5>
                                        <p class="card-text">this is Ac</p>
                                        <a href="#" class="btn btn-primary">Go somewhere</a>
                                   </div>
                              </div>
                         </div>





                    </div>
               </div>
          </div>



     </div>
     <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
          data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
     </button>
     <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
          data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
     </button>
</div>