<div id="carouselExampleIndicators4" class="carousel slide my-4" data-bs-ride="carousel">
     <div class="container">
          <h1 class="my-4">Digital</h1>
     </div>
     <!-- <div class="carousel-indicators">
       <button type="button" data-bs-target="#carouselExampleIndicators4" data-bs-slide-to="0"
         class="active" aria-current="true" aria-label="Slide 0"></button>
   
       
       <button type="button" data-bs-target="#carouselExampleIndicators4"
         data-bs-slide-to="1" aria-label="Slide 1"></button>
       
       <button type="button" data-bs-target="#carouselExampleIndicators4"
         data-bs-slide-to="2" aria-label="Slide 2"></button>
       
     </div> -->
     <div class="carousel-inner">
          <div class="carousel-item active">

               <!-- CARDS -->
               <div class="container">
                    <div class="row">

                         <div class="col-xs-3 col-sm-3 col-md-3">
                              <div class="card" style="width: 18rem;">
                                   <img src=" /media/shop/images/81KoSSAwH2L._SL1500_.jpg" class="card-img-top"
                                        alt="Image Alt Text">
                                   <div class="card-body">
                                        <h5 class="card-title">Laptop</h5>
                                        <p class="card-text">this is laptop</p>
                                        <a id="pr7" class="btn btn-primary cart">Go somewhere</a>
                                   </div>
                              </div>
                         </div>


                         <div class="col-xs-3 col-sm-3 col-md-3">
                              <div class="card" style="width: 18rem;">
                                   <img src=" /media/shop/images/akrales_181019_3014_0770.jpg" class="card-img-top"
                                        alt="Image Alt Text">
                                   <div class="card-body">
                                        <h5 class="card-title">Phone</h5>
                                        <p class="card-text">this is phone</p>
                                        <a id="pr8" class="btn btn-primary cart">Go somewhere</a>
                                   </div>
                              </div>
                         </div>


                         <div class="col-xs-3 col-sm-3 col-md-3">
                              <div class="card" style="width: 18rem;">
                                   <img src=" /media/shop/images/zKR6NPGunNztJQXBNSTmaX-1200-80.jpg"
                                        class="card-img-top" alt="Image Alt Text">
                                   <div class="card-body">
                                        <h5 class="card-title">Tablet</h5>
                                        <p class="card-text">this is Digital tablet</p>
                                        <a id="pr15" class="btn btn-primary cart">Go somewhere</a>
                                   </div>
                              </div>
                         </div>


                         <div class="col-xs-3 col-sm-3 col-md-3">
                              <div class="card" style="width: 18rem;">
                                   <img src=" /media/shop/images/61zc7Nv2HrL._AC_UL1294_.jpg" class="card-img-top"
                                        alt="Image Alt Text">
                                   <div class="card-body">
                                        <h5 class="card-title">Digital Watch</h5>
                                        <p class="card-text">this is Digital watch</p>
                                        <a id="pr16" class="btn btn-primary cart">Go somewhere</a>
                                   </div>
                              </div>
                         </div>


                    </div>
               </div>
          </div>
          <div class="carousel-item">
               <div class="container">
                    <div class="row">


                         <div class="col-xs-3 col-sm-3 col-md-3">
                              <div class="card" style="width: 18rem;">
                                   <img src=" /media/shop/images/21-april_pepper-the-robot.jpg" class="card-img-top"
                                        alt="Image Alt Text">
                                   <div class="card-body">
                                        <h5 class="card-title">Robot</h5>
                                        <p class="card-text">this is robot</p>
                                        <a id="pr17" class="btn btn-primary cart">Go somewhere</a>
                                   </div>
                              </div>
                         </div>


                         <div class="col-xs-3 col-sm-3 col-md-3">
                              <div class="card" style="width: 18rem;">
                                   <img src=" /media/shop/images/Reconnect-RAPBB1008-Power-Bank-491392272-i-1-1200Wx1200H-300Wx300H.jfif"
                                        class="card-img-top" alt="Image Alt Text">
                                   <div class="card-body">
                                        <h5 class="card-title">Power Bank</h5>
                                        <p class="card-text">this is power bank</p>
                                        <a id="pr18" class="btn btn-primary cart">Go somewhere</a>
                                   </div>
                              </div>
                         </div>


                         <div class="col-xs-3 col-sm-3 col-md-3">
                              <div class="card" style="width: 18rem;">
                                   <img src=" /media/shop/images/613MMp53sL._SY550_.jpg" class="card-img-top"
                                        alt="Image Alt Text">
                                   <div class="card-body">
                                        <h5 class="card-title">Ear Plugs</h5>
                                        <p class="card-text">this is ear plugs</p>
                                        <a id="pr19" class="btn btn-primary cart">Go somewhere</a>
                                   </div>
                              </div>
                         </div>


                         <div class="col-xs-3 col-sm-3 col-md-3">
                              <div class="card" style="width: 18rem;">
                                   <img src=" /media/shop/images/download.jfif" class="card-img-top"
                                        alt="Image Alt Text">
                                   <div class="card-body">
                                        <h5 class="card-title">video games</h5>
                                        <p class="card-text">this is video games</p>
                                        <a id="pr20" class="btn btn-primary cart">Go somewhere</a>
                                   </div>
                              </div>
                         </div>


                    </div>
               </div>
          </div>
          <div class="carousel-item">
               <div class="container">
                    <div class="row">


                         <div class="col-xs-3 col-sm-3 col-md-3">
                              <div class="card" style="width: 18rem;">
                                   <img src=" /media/shop/images/wordpress-theme-directory-1024x682.png"
                                        class="card-img-top" alt="Image Alt Text">
                                   <div class="card-body">
                                        <h5 class="card-title">WebPage Themes</h5>
                                        <p class="card-text">this is webpage</p>
                                        <a id="pr21" class="btn btn-primary cart">Go somewhere</a>
                                   </div>
                              </div>
                         </div>




                    </div>
               </div>
          </div>


     </div>
     <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators4"
          data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
     </button>
     <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators4"
          data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
     </button>
</div>