<!doctype html>
<html lang="en">

<head>
     <!-- Required meta tags -->
     <meta charset="utf-8">
     <meta name="viewport" content="width=device-width, initial-scale=1">

     <!-- Bootstrap CSS -->
     <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

     <title>My Awsome Cart</title>
</head>

<body>
     <div class="container">
          <div class="row align-items-md-stretch my-5">
               <div class="col-md-6">
                    <div class="h-100 p-5 text-white bg-dark rounded-3">
                         <h2>Shop</h2>
                         <p>E-commerce (electronic commerce) is the activity of electronically buying or selling of
                              products on online services or over the Internet. E-commerce draws on technologies such as
                              mobile commerce, electronic funds transfer, supply chain management, Internet marketing,
                              online transaction processing, electronic data interchange (EDI), inventory management
                              systems, and automated data collection systems. E-commerce is in turn driven by the
                              technological advances of the semiconductor industry, and is the largest sector of the
                              electronics industry.</p>
                         <a href="shop/" class="btn btn-outline-light" type="button">Go to Shop</a>
                    </div>
               </div>
               <div class="col-md-6">
                    <div class="h-100 p-5 bg-light border rounded-3">
                         <h2>Blog</h2>
                         <p>A blog (a truncation of "weblog")[1] is a discussion or informational website published on
                              the World Wide Web consisting of discrete, often informal diary-style text entries
                              (posts). Posts are typically displayed in reverse chronological order, so that the most
                              recent post appears first, at the top of the web page. Until 2009, blogs were usually the
                              work of a single individual,[citation needed] occasionally of a small group, and often
                              covered a single subject or topic. In the 2010s, "multi-author blogs" (MABs) emerged,
                              featuring the writing of multiple authors and sometimes professionally edited.</p>
                         <a href="blog/" class="btn btn-outline-secondary" type="button">Go to Blog</a>
                    </div>
               </div>
          </div>
     </div>

     <!-- Optional JavaScript; choose one of the two! -->

     <!-- Option 1: Bootstrap Bundle with Popper -->
     <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
          integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
          crossorigin="anonymous"></script>

     <!-- Option 2: Separate Popper and Bootstrap JS -->
     <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
    -->
     <script>
          window.location = "/shop";
     </script>
</body>

</html>